<!DOCTYPE html>
<html lang="zh-CN">
    <head>
        <meta charset="UTF-8">
        <!-- 以最高版本的IE浏览器来渲染 -->
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <!-- 视口的设置：视口的宽度和设备一致，默认的缩放比例和PC端一致，用户不能自行缩放 -->
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!--[if lt IE 9]>
          <script src="https://cdn.jsdelivr.net/npm/html5shiv@3.7.3/dist/html5shiv.min.js"></script>
          <script src="https://cdn.jsdelivr.net/npm/respond.js@1.4.2/dest/respond.min.js"></script>
        <![endif]-->
        <script>
            function sclect(){
                var is = event.currentTarget;
                console.log(event.currentTarget.id)
            }
        </script>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/bootstrap.min.css') }}">
        <script src="{{ url_for('static',filename='js/bootstrap.bundle.js') }}"></script>
        <title>Reading</title>
    </head>
    <body>
        <div class="col-7">
      {%for i in a%}
        {%for b in i%}
        <a id="{{b}}" onclick="sclect()">{{b}}</a>
        {% endfor %}<br>
      {% endfor %}
        </div>
        <div class="col">
            <iframe src=""></iframe>
        </div>
    </body>
</html>