<!DOCTYPE html>
<html lang="zh-CN">

<head>
  <meta charset="UTF-8">
  <!-- 以最高版本的IE浏览器来渲染 -->
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <!-- 视口的设置：视口的宽度和设备一致，默认的缩放比例和PC端一致，用户不能自行缩放 -->
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!--[if lt IE 9]>
          <script src="https://cdn.jsdelivr.net/npm/html5shiv@3.7.3/dist/html5shiv.min.js"></script>
          <script src="https://cdn.jsdelivr.net/npm/respond.js@1.4.2/dest/respond.min.js"></script>
        <![endif]-->
  <script>
    function buttonClick() {
      event.target.className = "btn text-nowrap btn-outline-primary";
      document.getElementById("show_word").src = "http://192.168.16.246:8000/extension/main.basic.english.dictionary/s/" + event.target.innerHTML;
      document.getElementById("temp-show-cam-dict").href = "https://dictionary.cambridge.org/dictionary/english-chinese-simplified/" + event.target.innerHTML;
      document.getElementById("temp-show-cam-dict").innerHTML = "点击前往dictionary.cambridge.org查询:" + event.target.innerHTML    
    }  
  </script>
  <style>
    iframe {margin-left: 0px;margin-top: 0px;margin-right: 0px;margin-bottom: 0px;overflow: hidden;}
  </style>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/bootstrap.min.css') }}">
  <script src="{{ url_for('static',filename='js/bootstrap.bundle.js') }}"></script>
  <title>Reading</title>
</head>

<body>
  <div class="container">
    <div class="row">
      <div class="col-6">
        {%for i in a%}
        {%for b in i%}
        <button type="button" class="btn text-nowrap" onclick="buttonClick()">{{b}}</button>
        {% endfor %}<br>
        {% endfor %}
      </div>
      <div class="col-6">
        <div class="shadow p-3 mb-5 bg-body-tertiary rounded">
          <p>词汇查询由<a href="https://github.com/skywind3000/ECDICT">[Github] skywind3000/ECDICT</a>提供</p>
          <div class="alert alert-warning" role="alert">
            对于部分机型，可能无法显示界面，请手动打开链接查询
          </div>
          <a id="temp-show-cam-dict"></a>
        </div>
        <iframe id="show_word" src=""  width='100%' height='100%' frameborder='0'></iframe>
      </div>
    </div>
  </div>
</body>

</html>