<!DOCTYPE html>
<html lang="zh-CN">
    <head>
        <meta charset="UTF-8">
        <!-- 以最高版本的IE浏览器来渲染 -->
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <!-- 视口的设置：视口的宽度和设备一致，默认的缩放比例和PC端一致，用户不能自行缩放 -->
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!--[if lt IE 9]>
          <script src="https://cdn.jsdelivr.net/npm/html5shiv@3.7.3/dist/html5shiv.min.js"></script>
          <script src="https://cdn.jsdelivr.net/npm/respond.js@1.4.2/dest/respond.min.js"></script>
        <![endif]-->
        <script>
          function buttonClick(){  
            event.target.className="btn text-nowrap btn-outline-primary";  
            document.getElementById("temp-show-cam-dict").href="https://dictionary.cambridge.org/dictionary/english-chinese-simplified/"+event.target.innerHTML;
            document.getElementById("temp-show-cam-dict").innerHTML="点击前往dictionary.cambridge.org查询:"+event.target.innerHTML
        }  
        </script>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/bootstrap.min.css') }}">
        <script src="{{ url_for('static',filename='js/bootstrap.bundle.js') }}"></script>
        <title>Reading</title>
    </head>
    <body>
      <div class="container">
      <div class="row">
        <div class="col-6">
      {%for i in a%}
        {%for b in i%}
        <button type="button" class="btn text-nowrap" onclick="buttonClick()">{{b}}</button>
        {% endfor %}<br>
      {% endfor %}
        </div>
        <div class="col-4">
          <div class="shadow p-3 mb-5 bg-body-tertiary rounded">
            <p>词汇查询由<a href="https://dictionary.cambridge.org/zhs">Cambridge Dictionary</a>提供</p>
            <div class="alert alert-warning" role="alert">
              由于iframe限制,请自行前往其网站查询
            </div>
            <a id="temp-show-cam-dict"></a>
          </div>
            <!-- <iframe id="show_word" src=""></iframe> -->
        </div>
      </div>
      </div>
    </body>
</html>